<% content_for :title do %>
	<title>Home</title>
<% end %>

<h1>Home Page </h1>
<p>Trung Manucian demo rails tutorials following books</p>
<p>
	...............
	Every thing you want which can be located here!!!
	...........
</p>