<%= content_for :title do %>
<title>Show User</title>
<% end %>
<%= content_for :page_title do %>
Show User
<% end %>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @user.name %></td>
			<td><%= @user.email %></td>
		</tr>
	</tbody>
</table>
</div>
