<%= content_for :title do %>
<title>Detail Post</title>
<% end %>
<%= content_for :page_title do %>
Detail Post 
<% end %>
<section class="detail_page">
	<h3><%= @micropost.title %></h3>
	<p><%= @micropost.content %></p>
</section>