// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	margin-top: 50px ;
}

a#logo {
	position: absolute;
	font-size: 20px;
	top: 10px
}

.submit-regis {
	margin-top: 10px ;
	width: 100%
}